@import '~antd/dist/antd.css';

/* 左侧菜单 */
.layout-nav-box {
    /* width: 400px; */
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    /* padding: 0 20px; */
    background-color: rgba(27, 56, 117, 0.925) !important;
    color: #000 !important;
}




.ant-menu-item:hover,
.ant-menu-submenu-title:hover {
    /* opacity: 0.8; */
    transition: all 0.3s;
    /* background-color: rgb(91, 106, 173); */
    /* color: rgb(109, 124, 190) !important; */
}


.ant-menu-item:hover a,
.ant-menu-submenu-title:hover a {
    transition: all 0.3s;
    /* color: rgb(109, 124, 190) !important; */
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a,
.ant-menu-dark .ant-menu-item>span>a {
    color: #000;
}


.ant-menu-dark .ant-menu-item:hover,
.ant-menu-dark .ant-menu-item-active,
.ant-menu-dark .ant-menu-submenu-active,
.ant-menu-dark .ant-menu-submenu-open,
.ant-menu-dark .ant-menu-submenu-selected,
.ant-menu-dark .ant-menu-submenu-title:hover {
    color: #000;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
    color: #000;
}

.ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::after,
.ant-menu.ant-menu-dark .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before,
.ant-menu.ant-menu-dark .ant-menu-sub .ant-menu-submenu-title .ant-menu-submenu-arrow::before {
    background: #000;
}

.ant-menu-dark .ant-menu-item-selected .ant-menu-item-icon,
.ant-menu-dark .ant-menu-item-selected .anticon {
    color: #000;
}

/* 点击之后子菜单背景色 */
.ant-menu-dark.ant-menu-dark:not(.ant-menu-horizontal) .ant-menu-item-selected {
    background-color: rgba(0, 0, 0, 0.11);

}

.ant-menu {
    background-color: rgba(27, 56, 117, 0) !important;
    /* color: #000 !important; */


}

/* 菜单顶部标题 */

.logo2 {
    font-weight: 100 !important;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 500px;
    height: 50px;
    /* line-height: 130px; */
    font-size: 40px;
    /* color: aliceblue; */
    /* background-color: rgba(10, 42, 110, 0.692); */
}

.logo2>span {
    color: rgb(91, 106, 173);
}

.tip12 {
    width: 150px;
    height: auto;
    font-size: 10px;
    position: absolute;
    top: 35px;
    left: 160px;
    color: rgb(0, 7, 32);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 20px 20px black;
}

.tip22 {
    width: 200px;
    height: auto;
    margin-top: -15px;
    color: rgb(0, 0, 0);
    font-size: 20px;
    margin-left: 40px;
    background-color: rgba(10, 42, 110, 0.692);
    font-weight: 200;
}

.tip22>span {
    color: rgb(196, 227, 255);
}

.line {
    width: 200px;
    height: 1px;
    background-color: rgba(0, 1, 78, 0.479);
    margin: 10px 0 20px 50px;
}



/* 右侧全部 */
.layout-main {
    height: auto;
    width: 100vw;
    background-color: rgb(231, 244, 255) !important;
    padding: 0 !important;
}

/* 右侧顶部 */
.layout-head {
    background-color: rgb(0, 5, 34);
    width: calc(100vw - 300px);
    height: 64px;
    position: fixed;
    top: 0;
    z-index: 111;
    /* box-shadow: 0px 5px 20px 0px rgb(51, 54, 71); */
}

.layout-content {
    height: 1800px;
}


::-webkit-scrollbar {
    width: 0.1rem;
    height: 0.75rem;
    background-color: #000000;
}