* {
    padding: 0;
    margin: 0;
}


/* 页面 */
.pages {
    background-image: url(./../static/TV7.jpg);
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    overflow: hidden !important;
    /* background-position: 0px -100px; */
}

/* 加载 */
.spin1 {
    width: 100vw !important;
    height: 100vh !important;
    text-align: center !important;
    line-height: 100vh !important;
    background-color: rgb(0, 0, 0) !important;
    z-index: 111111 !important;
    position: absolute !important;
    color: aliceblue !important;
    font-size: 40px !important;
    font-weight: 1000 !important;
    opacity: 0.8 !important;
    transition: all 0.3s !important;
    visibility: visible !important;
}

.spin2 {
    width: 100vw !important;
    height: 100vh !important;
    text-align: center !important;
    line-height: 100vh !important;
    background-color: rgb(0, 0, 0) !important;
    z-index: 111111 !important;
    position: absolute !important;
    color: aliceblue !important;
    font-size: 40px !important;
    font-weight: 1000 !important;
    opacity: 0 !important;
    transition: all 0.3s !important;
    visibility: hidden !important;
}

/* 标题框 */
.headBox {
    position: absolute;
    top: 500px;
    left: 150px;

}

/* 公司名 */
.logo {
    font-weight: 100 !important;
    /* font: italic 2em Georgia, serif; */
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 500px;
    height: 130px;
    line-height: 130px;
    font-size: 120px;
    /* color: aliceblue; */
    /* background-color: rgba(10, 42, 110, 0.692); */
}

.logo>span {
    color: rgb(91, 106, 173);
}

/* 经销 */
.tip1 {
    width: 150px;
    height: auto;
    font-size: 30px;
    position: absolute;
    top: 90px;
    left: 500px;
    color: rgb(195, 208, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-shadow: 20px 20px black;
}

/* 管理系统 */
.tip2 {
    width: 650px;
    height: auto;
    margin-top: -25px;
    color: rgb(0, 0, 0);
    font-size: 60px;
    margin-left: 50px;
    background-color: rgba(10, 42, 110, 0.692);
    font-weight: 200;
}

.tip2>span {
    color: rgb(196, 227, 255);
}

/* 展开按钮 */
.showLogin1 {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(25, 40, 97, 0.815);
    /* color: rgba(0, 0, 0, 0.986); */
    position: absolute;
    left: 850px;
    top: 340px;
    font-size: 30px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border-radius: 5px; */
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s;
    /* color: rgb(191, 223, 252); */
}

.showLogin2 {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(25, 40, 97, 0.815);
    color: rgba(0, 0, 0, 0.986);
    position: absolute;
    left: 800px;
    top: 500px;
    font-size: 30px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border-radius: 5px; */
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s;
    /* color: rgb(191, 223, 252); */
}

.showLogin3 {
    width: 200px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background-color: rgba(25, 40, 97, 0.815);
    color: rgba(0, 0, 0, 0.986);
    position: absolute;
    left: 900px;
    top: 700px;
    font-size: 30px;
    font-weight: 200;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    /* border-radius: 5px; */
    cursor: pointer;
    opacity: 1;
    transition: all 0.2s;
    /* color: rgb(191, 223, 252); */
}


.showLogin1>span,
.showLogin2>span,
.showLogin3>span {
    color: rgb(191, 223, 252);
}

.showLogin1:hover,
.showLogin2:hover,
.showLogin3:hover {
    color: rgb(191, 223, 252);
    opacity: 0.9;
    transition: all 0.2s;
}


/* 登录框 */
.loginBox1 {
    height: 450px;
    width: 700px;
    position: absolute;
    top: 300px;
    left: 610px;
    background-color: rgba(227, 236, 255, 0.904);
    /* color: aliceblue; */
    padding: 50px 100px;
    transform: translateX(0px);
    transition: all 0.7s;
    z-index: 111;
    opacity: 1;
    visibility: visible;
}

.loginBox2 {
    height: 450px;
    width: 700px;
    position: absolute;
    top: 300px;
    left: 630px;
    background-color: rgba(227, 236, 255, 0.774);
    padding: 50px 100px;
    /* border-radius: 5px; */
    transform: translateX(-200px);
    transition: all 0.7s;
    z-index: 111;
    opacity: 0;
    visibility: hidden;
}

.closeBtn {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: rgba(5, 21, 80, 0.815);
}

.loginBox1>h1,
.loginBox2>h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    color: rgba(5, 21, 80, 0.815);
}

.loginBox1>div,
.loginBox2>div {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;

}

.loginBox1>div>div,
.loginBox2>div>div {
    font-size: 24px;
    width: 150px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: 200;
    color: rgba(5, 21, 80, 0.815);
}

.loginIpt {
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    outline: none;
    flex-basis: 98%;
    border-bottom: 1px solid rgb(5, 21, 80, 0.815);
    font-size: 20px;
    /* text-align: center; */
}

.loginBox1>button,
.loginBox2>button {
    border: 0px;
    width: 100px;
    height: 40px;
    margin-left: calc(50% - 50px);
    cursor: pointer;
    background-color: rgba(5, 21, 80, 0.815);
    color: rgba(217, 224, 252, 0.986);
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
    opacity: 1;
    transition: all 0.3s;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.loginBox1>button:hover,
.loginBox2>button:hover {
    opacity: 0.8;
    transition: all 0.3s;

}

/* 模糊背景层 */
.blurBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0.6;
    visibility: visible;
    z-index: 11;
    transition: all 0.7s;
}

.clearBack {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    opacity: 0;
    visibility: hidden;
    z-index: 11;
    transition: all 0.7s;
}


/* 注册框 */
.registerBox1 {
    height: 500px;
    width: 700px;
    position: absolute;
    top: 300px;
    left: 610px;
    background-color: rgba(227, 236, 255, 0.904);
    /* color: aliceblue; */
    padding: 50px 100px;
    transform: translateX(0px);
    transition: all 0.7s;
    z-index: 112;
    opacity: 1;
    visibility: visible;
}

.registerBox2 {
    height: 500px;
    width: 700px;
    position: absolute;
    top: 300px;
    left: 630px;
    background-color: rgba(227, 236, 255, 0.774);
    padding: 50px 100px;
    /* border-radius: 5px; */
    transform: translateX(200px);
    transition: all 0.7s;
    z-index: 112;
    opacity: 0;
    visibility: hidden;
}

.closeBtn2 {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 30px;
    color: rgba(5, 21, 80, 0.815);
}

.registerBox1>h1,
.registerBox2>h1 {
    text-align: center;
    margin-bottom: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 200;
    color: rgba(5, 21, 80, 0.815);
}

.registerBox1>div,
.registerBox2>div {
    margin: 30px 0px;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;

}

.registerBox1>div>div,
.registerBox2>div>div {
    font-size: 24px;
    width: 150px;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
    font-weight: 200;
    color: rgba(5, 21, 80, 0.815);
}

.registerIpt {
    border: 0;
    background-color: rgba(240, 248, 255, 0);
    outline: none;
    flex-basis: 98%;
    border-bottom: 1px solid rgb(5, 21, 80, 0.815);
    font-size: 20px;
    /* text-align: center; */
}

.registerBox1>button,
.registerBox2>button {
    border: 0px;
    width: 100px;
    height: 40px;
    margin-left: calc(50% - 50px);
    cursor: pointer;
    background-color: rgba(5, 21, 80, 0.815);
    color: rgba(217, 224, 252, 0.986);
    font-size: 20px;
    font-weight: 200;
    margin-top: 50px;
    opacity: 1;
    transition: all 0.3s;
    /* font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; */
}

.registerBox1>button:hover,
.registerBox2>button:hover {
    opacity: 0.8;
    transition: all 0.3s;

}