/* 图表内容盒子 */
.content {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    margin: 30px 0px 0px 0px;
    padding-bottom: 10px;
    padding-right: 5px;
    background-color: rgb(231, 244, 255) !important;
}

/* 图表加tip盒子 */
.chartBox1 {
    width: 33%;
    height: 240px;
    /* box-shadow: 0px 6px 12px 0px rgba(0, 19, 41, 0.075); */
    margin-left: 0.5%;
    margin-right: 1%;
    padding: 20px;
    /* background-color: rgb(238, 247, 255); */
}

/* 图表 */
.chart1 {
    width: 100%;
    height: 150px;

}

/* tip */
.chart1Tip {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
}

.chart1Tip>div {
    width: 180px;
    height: 100%;
}

.chart1Tip>div>span {
    font-size: 12px;
    color: rgba(1, 15, 77, 0.589);
}

.chart1Tip>div>p {
    font-size: 16px;
    font-weight: 600;
    color: rgba(1, 15, 77, 0.589);
}

/* 新订单表格 */
.orderNew {
    width: 430px;
    height: auto;
    /* height: 2000px; */
    background-color: rgb(241, 249, 255);
    box-shadow: 0px 6px 12px 0px rgba(0, 19, 41, 0.075);
    /* background-image: linear-gradient(rgb(244, 250, 255), rgba(231, 244, 255) 100%); */
    /* border: 1px solid rgba(0, 0, 0, 0.075); */
}

/* 订单标题 */
.orderTitle {
    width: 100%;
    height: 50px;
    font-size: 16px;
    /* font-weight: 200; */
    padding: 15px;
    color: rgba(1, 15, 77, 0.692);
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

/* 订单tip */
.orderTip {
    width: 100%;
    height: 130px;
    background-color: rgb(231, 244, 255);
    padding: 20px 15px;
}

.orderTip>h1 {
    font-size: 26px;
    font-weight: 200;
}

.orderTip>p {
    font-size: 12px;
    margin-top: 10px;
}

/* icon图表 */
.orderTip>p>span {
    /* font-size: 10px; */
    color: rgba(0, 7, 20, 0.808);
    margin-right: 5px;
}

/* 订单信息盒子 */
.orderInfoBox {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 100%;
    height: auto;
}

/* 订单item */
.orderInfoItem {
    width: 80%;
    height: auto;
    margin-left: 5%;
    display: flex;
    flex-direction: row;
}

.orderInfoTime {
    width: 70px;
    height: 100%;
    text-align: right;
    padding-right: 10px;
}

.orderInfoTime>span {
    font-size: 14px;
    color: rgba(0, 7, 20, 0.712);
}

/* 左侧时间 */
.orderInfoTime>p {
    margin-top: 5px;
    font-size: 14px;
    color: rgba(0, 7, 20, 0.808);
}

/* 右侧内容 */
.orderInfoText {
    width: 250px;
    height: auto;
    border-left: 1px solid rgba(0, 13, 48, 0.192);
    border-bottom: 1px solid rgba(0, 13, 48, 0.192);
    padding: 20px;
}

/* 右侧内容标题 */
.orderInfoText>h1 {
    color: rgba(0, 15, 44, 0.623);
}

.orderInfoText>p {
    color: rgba(0, 15, 44, 0.623);
    font-size: 14px;

}

/* 最后一个订单 */
.orderInfoText2 {
    width: 250px;
    height: auto;
    border-left: 1px solid rgba(0, 13, 48, 0.192);
    padding: 20px;
}

.orderInfoText2>h1 {
    color: rgba(0, 15, 44, 0.623);
}

.orderInfoText2>p {
    color: rgba(0, 15, 44, 0.623);
    font-size: 14px;

}

.point {
    width: 100%;
    text-align: center;
    font-size: 20px;
}