/* 顶部信息 */
.headInfo {
    color: aliceblue;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
    height: 100%;
    width: 100%;
    font-size: 16px;
    font-weight: 600;
}

/* 搜索框 */
.headIpt {
    width: 200px;
    height: 30px;
    background-color: rgba(227, 230, 253, 0);
    border: 0px;
    border-radius: 5px;
    outline: none;
    margin-left: 0px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
}

.headIpt>input {
    width: 170px;
    height: 30px;
    background-color: rgba(227, 230, 253, 0.993);
    border: 0px;
    /* border-radius: 5px; */
    outline: none;
    padding: 0px 10px;
    font-size: 14px;
    font-weight: 200;
    color: rgb(0, 3, 17);
}

.searchBtn {
    width: 30px;
    height: 30px;
    background-color: rgba(227, 230, 253, 0.171);
    font-size: 16px;
    line-height: 35px;
    color: rgb(255, 245, 245);
    text-align: center;
    margin: 0 !important;
    cursor: pointer;
}

/* 选项间隔线 */
.lined {
    width: 1px;
    height: 20px;
    background-color: rgba(140, 141, 240, 0.397);
    margin: 0px 15px;
}

.lined2 {
    width: 1px;
    height: 40px;
    /* background-color: rgba(240, 240, 255, 0.384); */
    margin: 0px 15px 0px 50px;
}

/* 选项 */
.opt1:hover,
.opt2:hover,
.opt3:hover,
.opt1:hover>.sp1,
.opt2:hover>.sp2,
.opt3:hover>.sp3 {
    cursor: pointer;
    transition: all 0.2s;
    color: rgb(255, 255, 255);
    opacity: 0.5;
}

.opt1,
.opt2,
.opt3 {
    transition: all 0.2s;
}

.sp1,
.sp2,
.sp3 {
    transition: all 0.2s;
    color: rgb(255, 255, 255);
}

/* 头像用户名信息 */
.headInfo>.userInfo {
    position: absolute;
    right: 20px;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    align-items: center;
}

/* 用户名盒子 */
.headInfo>div>span {
    margin-left: 20px;
}

.headInfo>div>span>span {
    font-size: 22px;
    font-weight: 200;
    color: rgb(215, 224, 255);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-right: 10px;
}

/* 头像盒子 */
.headInfo>div>img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* margin-right: 40px; */
    margin-left: 20px;
}